/* Media Queries (Small Devices) */
@media screen and (max-width: 600px) {
#parQContainer {
    width: var(--container-width-sm);
    margin: auto;
}

.parqSection {
    border-radius: 12px;
    background-color: var(--color-bg-variant);
    border: 2px solid red;
    height: fit-content;
    margin-bottom: 20px;
    padding: 20px;
    color: white;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.innerInput {
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
}

.innerInput input {
        width: 100%;
        padding: 10px;
        border: 1px solid rgba(255, 255, 255, 0.25);
        background: #1d2b3a;
        border-radius: 5px;
        outline: none;
        -webkit-border-radius:;
        -moz-border-radius:;
        -ms-border-radius:;
        -o-border-radius:;
        color: var(--light);
        font-size: 1em;
}

.innerInput input:focus ~ span,
.innerInput input:valid ~ span {
    color: var(--primary-color);
    transform: translateX(10px) translateY(-12px);
    -webkit-transform: translateX(10px) translateY(-12px);
    -moz-transform: translateX(10px) translateY(-12px);
    -ms-transform: translateX(10px) translateY(-12px);
    -o-transform: translateX(10px) translateY(-12px);
    font-size: 1em;
    padding: 0 10px;
    background: #1d2b3a;
    border-left: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
    letter-spacing: 0.2em;
}



.inputContainer {
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
}

.inputContainer input {
        width: 100%;
        padding: 10px;
        border: 1px solid rgba(255, 255, 255, 0.25);
        background: #1d2b3a;
        border-radius: 5px;
        outline: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        color: #fff;
        font-size: 1em;
}

.inputContainer span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.inputContainer input:focus ~ span,
.inputContainer input:valid ~ span {
    color: var(--primary-color);
    transform: translateX(10px) translateY(-12px);
    -webkit-transform: translateX(10px) translateY(-12px);
    -moz-transform: translateX(10px) translateY(-12px);
    -ms-transform: translateX(10px) translateY(-12px);
    -o-transform: translateX(10px) translateY(-12px);
    font-size: 1em;
    padding: 0 10px;
    background: #1d2b3a;
    border-left: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
    letter-spacing: 0.2em;
}



#parQTitle {
    text-align: center;
    color: white;
}

aside {
    padding-bottom: 5px;
    border-bottom: 2px solid green;
}

#parqForm {
    display: flex;
    flex-direction: column;
}

/* 
.personDetailsContainer {
    padding: 20px;
    margin-bottom: 20px;
} */

#sectionTitle {
    margin-top: 0;
}

#declaration > p {
    border-bottom: var(--color-bg-variant) 2px solid;
    padding-bottom: 5px;
}

.checkboxes > label{
    margin-right: 10px;
    font-size: 3rem;
}

.checkboxes input[type="checkbox"] {
    margin-right: 5px;
    width: 35px;
    height: 35px;
}

 /* submit Button */

 #submitButton {
    margin-top: 5vh;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-color: #1d2b3a;
    color: white;
    padding: 5vh;
    font-size: 5vh;
}
/* #parqLabel {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
    text-align: center;
} */

/* #parqInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
} */

/* input[type='num'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

input[type='submit'] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: #45a049;
} */

/* medical condition questions  */

}