@media screen and (max-width: 600px) {

/* animate feature  */

.in-view {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.animate-on-scroll {
  opacity: 0;
  transform: translateX(-300px);
  -webkit-transform: translateX(-300px);
  -moz-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  -o-transform: translateX(-300px);
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition-delay: 0.2s;
  z-index: 2;
}

/* end feature */

    .breakdownSection {
      height: fit-content;
      background-color: var(--color-bg);
      z-index: 2;
    }

    .sectionText {
      color: white;
      border: 1px solid white;
      padding: 10px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      font-size: large;
    }
    
    .breakdownButton {
      height: 3rem;
      padding-left: 2rem;
      padding-right: 2rem;
      position: relative;
      left: 25%;
      outline: 2px solid black;
    }
    
    .picContainer {
      height: 20rem;
      width: 50rem;
      border: 2px solid white;
      position: relative;
    }

    .picContainersWrapper {
      height: 40rem;
      margin-bottom: var(--spacer);
    }

    #breakdownGif {
      width: 100%;
      height: auto;
      background-color: black;
      z-index: 2;
    }
    
    /* .picInnerContainer {
      background-image: url("../assets/imageB.jpg");
      height: 10rem;
      background-size: cover;
      background-repeat: no-repeat;
      width: 10rem;
      position: absolute;
      bottom: 0;
      right: 0;
      clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 100%, 83% 100%, 50% 100%, 17% 100%, 0 100%, 0% 35%, 20% 10%);
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
    } */
    
    .picContainersWrapper {
      display: flex;
      flex-wrap: wrap; /* add this property */
      position: relative;
      margin-bottom: var(--spacer);
    }
    
    .sectionTitle {
      color: white;
      text-align: center;
      font-size: xx-large;
    }
  }
  