@media screen and (max-width: 600px) {
    .sectionText {
      color: white;
      border: 1px solid white;
      padding: 10px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      font-size: large;
    }
    
    .breakdownButton {
      height: 3rem;
      padding-left: 2rem;
      padding-right: 2rem;
      position: relative;
      left: 25%;
      outline: 2px solid black;
    }
    
    .picContainer {
      background-image: url("../assets/breakdownImgA.jpg");
      height: 20rem;
      width: 50%;
      background-position: center;
      background-size: 170px 300px;
      background-repeat: no-repeat;
      position: relative;
      clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 100%, 83% 100%, 50% 100%, 17% 100%, 0 100%, 0% 35%, 20% 10%);
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
    }
    
    .picInnerContainer {
      background-image: url("../assets/imageB.jpg");
      height: 10rem;
      background-size: cover;
      background-repeat: no-repeat;
      width: 10rem;
      position: absolute;
      bottom: 0;
      right: 0;
      clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 100%, 83% 100%, 50% 100%, 17% 100%, 0 100%, 0% 35%, 20% 10%);
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
    }
    
    .picContainersWrapper {
      display: flex;
      flex-wrap: wrap; /* add this property */
      position: relative;
    }
    
    .sectionTitle {
      margin-top: 5rem;
      color: white;
      text-align: center;
      font-size: xx-large;
    }
  }
  