/* Media Queries (Small Devices) */
@media screen and (max-width: 600px) {
    #strikingContainer, #weightLiftingContainer, #mixedProgramContainer {
    border: 2px solid white;
    margin-bottom: 3rem;
    padding: 1.5rem;
    color: white;
    position: relative;
}

#strikingContainer > h1, #weightLiftingContainer > h1, #mixedProgramContainer > h1 {
    text-align: center;
} 


.dropdown-menu.show {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    font-size: large;
    height: 25rem;
    overflow-y: scroll;
}   

}
/* 
#strikingContainer > h3, #weightLiftingContainer > h3, #mixedProgramContainer > h3 {
    border: 2px solid red;
    height: 10rem;
    overflow-y: scroll;
}

#strikingContainer > h3[viewMore='1'], #weightLiftingContainer > h3[viewMore='1'], #mixedProgramContainer > h3[viewMore='1'] {
    animation: boxHeight 2s infinite;
    -webkit-animation: boxHeight 2s infinite;
}

@keyframes boxHeight {
  100% {
    height: fit-content;
}
} */

/* #strikingContainer.animate-height > h3,
#weightLiftingContainer.animate-height > h3,
#mixedProgramContainer.animate-height > h3 {
  animation: boxHeight 1s ease-in-out infinite;
  -webkit-animation: boxHeight 1s ease-in-out infinite;
} */