@media screen and (max-width: 600px) {
    #selectedSessionContainer {
        color: whitesmoke;
        padding: 20px;
        text-align: center;
        border-top: 2px solid whitesmoke;
        border-bottom: 2px solid whitesmoke;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        width: var(--container-width-sm);
        margin: 0 auto;
        position: relative;
        margin-bottom: 1rem;
}

#selectedSessionContainer > h3 {
    position: relative;
}

#selectedSessionContainer > h3:after {
    content: "";
    width: 11.5rem;
    position: absolute;
    bottom: 0;
    border-bottom: 2px solid whitesmoke;
    left: 22%;
}
}