/* Media Queries (Small Devices) */
@media screen and (max-width: 600px) {
	.inputBox {
		position: relative;
		width: var(--container-width-md);
		left: 7%;
		margin-bottom: 10px;
	}

	.inputBox input {
		width: 100%;
		padding: 10px;
		border: 1px solid rgba(255, 255, 255, 0.25);
		background: var(--primary-color-variant);
		outline: none;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		color: black;
		font-size: 1em;
		height: 5em;
		margin-bottom: 1rem;
}

.inputBox span {
	position: absolute;
	left: 0;
	padding: 10px;
	pointer-events: none;
	font-size: 1em;
	color: var(--white);
	text-transform: uppercase;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
	color: black;
	transform: translateX(10px) translateY(-7px);
	-webkit-transform: translateX(10px) translateY(-7px);
	-moz-transform: translateX(10px) translateY(-7px);
	-ms-transform: translateX(10px) translateY(-7px);
	-o-transform: translateX(10px) translateY(-7px);
	font-size: 0.80em;
	font-weight: bold;
	padding: 0 10px;
	background: var(--primary-color-variant);
	border-left: 1px solid var(--primary-color-variant);
	border-right: 1px solid var(--primary-color-variant);
	letter-spacing: 0.2em;
}	

.FormGroup {
	margin: 0 0 20px;
	padding: 0;
	border-style: none;
	background-color: var(--primary-color);
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	margin-left: 1rem;
	margin-right: 1rem;
}

.FormRow {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
}

#paymentButton {
	display: block;
	font-size: 25px;
	font-weight: bold;
	width: calc(100% - 30px);
	height: 60px;
	margin: 40px 15px 0;
	background-color: var(--primary-color);
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #ffb9f6;
	border-radius: 4px;
	color: black;
	cursor: pointer;
	transition: all 100ms ease-in-out;
	will-change: transform, background-color, box-shadow;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

#paymentButton:active {
	background-color: var(--primary-color-variant);
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #e298d8;
	transform: scale(0.99);
	-webkit-transform: scale(0.99);
	-moz-transform: scale(0.99);
	-ms-transform: scale(0.99);
	-o-transform: scale(0.99);
}

h1,
h3 {
	text-align: center;
}

.succesfulContainer {
	color: white;
	font-size: larger;
	padding: 1rem;
	position: relative;
	height: 50vh;
	text-align: center;
}

.succesfulContainer > h2 {
	top: 50%;
	width: fit-content;
	position: relative;
	animation: successfulPayment 2s ease-in-out infinite;
	-webkit-animation: successfulPayment 2s ease-in-out infinite;
	font-size: xx-large;
}

@keyframes successfulPayment {
	0% {
		top: 25%;
	}
	50% {
		top: 50%;
	}

	100% {
		top: 25%;
	}
}

#successfulButton {
	font-size: 2rem;
	position: absolute;
	bottom: 0;
	right: 25%;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	margin-bottom: 1rem;
}

.TypeOfSession {
	border: 2px solid white;
	width: var(--container-width-md);
	display: flex;
	margin: auto;
	flex-wrap: wrap;
	position: relative;
}

.TypeOfSession > label {
	width: 50%;
	color: white;
	font-size: x-large;
	font-weight: bold;

}

.TypeOfSession > h3 {
	width: 50%;
	border: 2px solid blue;
	font-size: x-large;
	color: white;
	position: relative;
}

.TypeOfSession > h3, .TypeOfSession > label {
	margin-bottom: 1.5rem;
}
}