:root {
    --color-bg: #111111;
    --color-bg-variant: #222222;
    --primary-color: #ff4136;
    --primary-color-variant: #c70000;
    --white: #ffffff;
    --light: #f9f9f9;
}

.App {
    /* height: 80vh; */
    /* margin-top: 20vh; */
    background-color: var(--color-bg-variant);
}

.container {
    display: flex;
    flex-direction: column;
}