
.bellIcon {
    color: white;
}

@media only screen and (max-width: 428px){
    /* .navbarContainer {
        height: 20vh;
    } */

    html {
        background-color: var(--color-bg);
    }

    .App {
        background-color: var(--color-bg);
    }

    #navLink {
        font-size: 2rem;
        margin-left: 1rem;
    }
    .outerContainer {
        position: absolute;
        left: 0;
    }

    .bellIcon {
        width: max-content;
        margin-bottom: 2rem;
    }

    .bellIcon, .joinButton {
        height: 3rem;
    }

    .navItems {
        font-size: 7;
        float: right;
        font-weight: bolder;
    }

    .navbarContainer {
        background-color: black;
    }

    .container {
        border: 2px solid white;
    }
}
