
.bellIcon {
    color: white;
}

@media only screen and (max-width: 428px){
    /* .navbarContainer {
        height: 20vh;
    } */

    nav {
        display: flex;
    }

    html {
        background-color: var(--color-bg);
    }

    .App {
        background-color: var(--color-bg);
    }

    #navLink {
        font-size: 18px;
        padding: 8px;
        color: var(--primary-color);
        background-color: ;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
}
    .outerContainer {
        position: absolute;
        left: 0;
    }

    .bellIcon {
        width: max-content;
        margin-bottom: 2rem;
    }

    .bellIcon, .joinButton {
        height: 3rem;
    }

    .navItems {
        font-size: 7;
        float: right;
        font-weight: bolder;
    }

    .navbarContainer {
        background-color: black;
    }
}
